<a href="https://colab.research.google.com/github/Nerothemadlad/RandomGrouping/blob/main/RandomGrouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import secrets

import pandas as pd

K9 = [
    "Huy",
    "Nam",
    "Thúy",
    "Phi",
    "Lộc",
    "Kim Như",
    "Quỳnh Như",
    "Trân",
    "Khôi",
    "Phúc",
    "Thịnh",
    "Thiện",
]

K10 = [
    "Thương",
    "Thảo",
    "Phong",
    "Hiệp",
    "Phương",
    "Ngân",
    "Duyên",
    "Thắm",
    "Như",
    "Huyên",
    "Giang",
    "Thùy",
]


def grouping(group_size: int, all_members: list) -> dict:
    """
    Divide class members into pairs/groups

    Note that if the number of all members is not divisible by
    the number of groups, there will be a group with fewer members

    group_size: number of members in a standard group
    all_members: an iterable containing all members of the class

    """
    groups = dict()
    all_members_size = len(all_members)
    remaining_members = all_members
    i = 1

    while remaining_members:
        group_name = "group " + str(i)
        remaining_members_size = len(remaining_members)
        size = min(remaining_members_size, group_size)
        members = secrets.SystemRandom().sample(remaining_members, k=size)

        groups[group_name] = members
        for mem in members:
            remaining_members.remove(mem)
        i += 1

    return groups


results = grouping(2, K10)
table = pd.DataFrame.from_dict(results, orient='index')
table

             0       1
group 1  Duyên  Phương
group 2   Ngân    Thắm
group 3  Huyên    Thùy
group 4   Hiệp    Thảo
group 5    Như  Thương
group 6  Phong   Giang